<h2> Scope <%= @result.point %></h2>
<h1>The <%= @result.test.title %> Test was Completed!</h1>
<p>
 <%= "Number of All Questions in Test #{@result.total_questions}" %> <br>
 <%= "Questions with Correct Answers: #{@result.correct_questions} " %>
</p>
<h2> <%= show_result_message(@result) %> 
<%= link_to "Try Again", again_result_path(@result) %></h2><br>
<%= link_to "All Tests", tests_path, method: "get" %>