<h1><%= link_to @question.body, admin_test_path(@question.test) %></h1>
<div style="display:inline-block">
  <%= link_to t("button.edit"), edit_admin_question_path(@question), method: :get %>
  <%= link_to t("button.delete"), admin_question_path(@question), method: :delete %>
</div>
<h2>Answers</h2>
<%= link_to "New answer", new_admin_question_answer_path(@question) %>
<% @question.answers.each do |answer| %>
  <p>
    <%= link_to answer.body, admin_answer_path(answer) %>
  </p>
<% end %>
