<tr>
  <td> <%= check_edit_current_user(test) %> </td>
  <td> <%= link_to "#{test.title}", admin_test_path(test) %> </td>
  <td> <%= test.level %> </td>
  <td> <%= test.questions.count %> </td>
  <td> <%= button_to t("button.edit"), edit_admin_test_path(test), method: :get, class: "btn btn-primary" %> </td>
  <td> <%= button_to t("button.delete"), admin_test_path(test), method: :delete,
                                               remote: :true,
                                               class: "btn btn-primary",
                                               data: { confirm: t("button.confirm") } %></td>
</tr>
