<h1> <%= t(".header") %> </h1>
<%= render 'shared/errors', object: @test %>
<p>
  <%=  button_to t("button.new"), new_admin_test_path, method: :get, class: "btn btn-primary" %>
</p>
<% unless @tests.blank? %>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><%= t(".edit") %></th>
        <th><%= t(".title") %></th>
        <th><%= t(".level") %></th>
        <th><%= t(".questions") %></th>
        <th ><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests  %>
    <% end %>
  </tbody>
</table>
